{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>terzonemap</title>
	<meta charset="utf-8" />
	<link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
<nav class="mb-2 px-3 navbar navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">TerzoneGIS</a>

  <div>
    {% if user.is_authenticated %}
      <a href="{% url 'site_auth:about-me' %}">{{ user.username }}</a>
      <a href="{% url 'site_auth:logout' %}">Logout</a>
    {% else %}
      <a
        class="btn btn-outline-primary"
        href="{% url 'site_auth:login' %}">
        Login
      </a>
    {% endif %}
  </div>
</nav>

<div id='map'></div>
<script>
    var baseurl ='http://127.0.0.1:8000/';
	var map = L.map('map').setView([56.8416,60.5956],10);
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);
	wmsOptions = {
		layers: 'terzone_terzoneexist',
		format: 'image/png',
		transparent: true,
		// CQL_FILTER : "id='terzone_terzoneexist.1000010071732692'",
	}
	var wmsLayer = L.tileLayer.wms('http://127.0.0.1:8000/terzone/getwmts?', wmsOptions).addTo(map);
	map.on('click', function(ev) {
		var latlng = ev.latlng;
		var d_gree = 0.0001;
		var min_lng = latlng['lng']-d_gree;
		var max_lng = latlng['lng']+d_gree;
		var min_lat = latlng['lat']-d_gree;
		var max_lat = latlng['lat']+d_gree;
		var feature_url = baseurl +'terzone/feature?request=GetFeature&version=1.1.0&typeName=gis:terzone_terzoneexist&outputFormat=application/json&BBOX=' +min_lng + ',' +min_lat+','+max_lng+','+max_lat+',EPSG:4326';

        $.ajax(
            {
                url: feature_url,
                type:'GET',
                dataType:'json',
                headers:{'Content-Type':'application/json;charset=utf8'},
                success:function(data){
                	console.log(data);
                	L.geoJSON(data, {
					    style: {color: "#000000",
							    	fillColor: "#ffffff",
					    			opacity: 0.7,
					    			weight: 5,
					    },
                    onEachFeature: function (f, l) {
                    l.bindPopup("aaaaaaaaaaaaaaaa");
      },

				})

				.addTo(map);
                },
                error:function(data){
                    console.log('faile');
                    console.log(data);
                }
            }
        );
	});
</script>
</body>
</html>
